

html {
  font-family: 'Roboto', sans-serif;
}

.bg-1 {
  background-color: #212529;
}

.bg-2 {
  background-color: #707070;
}

.bg-3 {
  background-color: #F8F9FA;
}

.bg-4 {
  background-color: #28a745;
}

.text-c1 {
  color: #212529;
}

.text-c2 {
  color: #707070;
}

.text-c3 {
  color: #F8F9FA;
}

.text-c4 {
  color: #28a745;
}

nav img {
  height: 25px;
}

#products {
  margin-top: 50px;
}
